<!--

<ion-header>
  <ion-navbar color="geladas">
    <ion-title>Teste componente marca</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-label>Marca</ion-label>
   <div *ngIf="listaMarcas">
        <searchlist [selected]="marca" 
                    [lista]="listaMarcas" 
                    (onSelected)="onNotifyMarca($event)" 
                    (onAdd)="onClickAdd($event)"
                    [placeholder]="placeholder"></searchlist>
   </div>
</ion-content>
-->

    <searchlist *ngIf="listaMarcas"
                [selected]="marca" 
                [lista]="listaMarcas" 
                (onSelected)="onNotifyMarca($event)" 
                (onAdd)="onClickAdd($event)"
                [showButtonAdd]="true"
                [icon]="iconBeer"
                [placeholder]="placeholder"></searchlist>