<ion-header>
  <ion-navbar color="twitter">
    <ion-title>Configuração Notificação</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>  
        <ion-list>
            <ion-item>          

                <ion-label>Marca</ion-label>            
                    <ion-select [(ngModel)]="config.marcas" multiple="true" cancelText="Cancelar" okText="Ok">
                        <ion-option [value]="marca.cdmarca" *ngFor="let marca of sharingService.marcas | async ">
                            {{ marca.descricao }}
                        </ion-option>
                    </ion-select>
            </ion-item>
            
            <ion-item>            
                <ion-label>Tipo</ion-label>         
                <ion-select [(ngModel)]="config.tipos" multiple="true" cancelText="Cancelar" okText="Ok">                               
                    <ion-option [value]="tipo.cdtipo" *ngFor="let tipo of sharingService.tipos | async">
                        {{ tipo.descricao }}
                    </ion-option>
                </ion-select>            
            </ion-item>

            <ion-item>            
                <ion-label>Medida</ion-label>
                <ion-select [(ngModel)]="config.medidas" multiple="true" cancelText="Cancelar" okText="Ok">                
                    <ion-option [value]="medida.cdmedida" *ngFor="let medida of sharingService.medidas | async" >
                        {{ medida.descricao }}
                    </ion-option>
                </ion-select>
            </ion-item>
            
            <ion-item>
                <ion-label>Raio de distância {{config.raio}} Km</ion-label>
                <ion-range min="1" max="30" pin="true" [(ngModel)]="config.raio" color="primary">
                    <ion-icon range-left small name="disc"></ion-icon>
                    <ion-icon range-right name="disc"></ion-icon>
                </ion-range>
            </ion-item>
        </ion-list>

        <p>
            <button type="submit" ion-button block icon-left (click)="salvar()">
                <ion-icon name="cloud-upload"></ion-icon>
                Enviar
            </button>            
        </p>     
</ion-content>