.fundo{
    background: url('../assets/images/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
}

.logo {
  position: absolute;
  top: 15%;  
  width: 100%;  
  ion-img {
    background-color: transparent;
    width: 180px;
    height: 180px;     
  }
  p {
    font-size: 16px;    
  }
}

.div-botao {
  position: absolute;
  top: 60%;
  width: 100%;
}

.botao-fb {
  width: 100%;
  color: #fff;  
}

.botao-g {
  width: 100%;
  color: #fff;
}