.fundo{
    background: url('../assets/images/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
}

.logo {
  position: absolute;
  top: 15%;  
  width: 100%;  
  ion-img {
    background-color: transparent;
    width: 180px;
    height: 180px;     
  }
  p {
    font-size: 16px;    
  }
}

.div-botao {
  position: absolute;
  top: 60%;
  width: 100%;
}

.botao-fb {  
//  background: url('../assets/images/BEA_botao_loginFB.png');
//  background-size: contain;
//  background-repeat: no-repeat;
}

.botao-g {  
//  background: url('../assets/images/BEA_botao_loginG.png');
//  background-size: contain;
//  background-repeat: no-repeat;
}

.termos {
  font-size: 0.9em;
  text-align: center;
  color: #FFFFFF;
  
}
.rowcenter {
  align-items: center;
}