<ion-header>

<!--
  <ion-navbar color="geladas" align-title="center">    
    <ion-title (click)="changeLocal();">
        <span class="titulo-geladas">Geladas</span><br />
        <span class="municipio">{{ municipio.municipio + ", "+ municipio.uf }}</span><br />
    </ion-title>

    <ion-buttons end>
       <button ion-button icon-only (click)="showFilters()">
          <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
       </button>

       <button ion-button icon-only (click)="showConfig()">
          <ion-icon ios="ios-cog" md="md-cog"></ion-icon>
       </button>
    </ion-buttons>
  </ion-navbar>
  -->

  <ion-toolbar color="geladas" no-border-top>    
    <ion-title (click)="changeLocal();">
        <span class="titulo-geladas">Geladas</span><br />
        <span class="municipio">{{ municipio.municipio + ", "+ municipio.uf }}</span><br />
    </ion-title>

    <ion-buttons end>
       <button ion-button icon-only (click)="showFilters()">
          <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
       </button>

       <button ion-button icon-only (click)="showConfig()">
          <ion-icon ios="ios-cog" md="md-cog"></ion-icon>
       </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--

<ion-header>
  <ion-toolbar color="geladas">
    <ion-buttons start>
       <button ion-button icon-only (click)="showConfig()">
          <ion-icon ios="ios-cog" md="md-cog"></ion-icon>
       </button>
    </ion-buttons>
    <ion-title>Geladas</ion-title>
    <ion-buttons end>
       <button ion-button icon-only (click)="showFilters()">
          <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
       </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
    
    <div *ngIf="isEmpty()" class="logo">
      <ion-grid>
        <ion-row>
          <ion-col col-md-4>
          </ion-col>
          <ion-col col-md-4>
              <ion-img [src]="logo"></ion-img>
              <p align="center">
                 Ainda não tem promoções
                 cadastradas na sua região,
                 seja o primeiro a publicar.
              </p>
          </ion-col>
          <ion-col col-md-4>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </div>

    <ion-searchbar 
        #searchbar
        [(ngModel)]="searchTerm" 
        [formControl]="searchTermControl"
        [showCancelButton]=true
        (ionCancel)="onCancel($event)"         
        (ionClear)="onCancel($event)"
        placeholder="busca..."
        (ionInput)="filterItems()">
    </ion-searchbar>

    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher> 


    <ion-list>
        <produto-item *ngFor="let produto of produtos" [produto]="produto"></produto-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingText="Carregando mais promoções ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> 
    <ion-fab right bottom>
        <button ion-fab (click)="newProduto()">
            <ion-icon name="add" mini></ion-icon>
        </button>        
    </ion-fab>
</ion-content>