.card-background-page {  
  width: 300px;
  height: 300px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-150px;
	margin-left:-150px;
}

.campo-search {  
  position:absolute;
  top:40%;
  width: 100%;
}
.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}

ion-note {  
  font-size: 1.0em;  
  color: dodgerblue !important; 
  margin-top: 14px;
}