<ion-header>
  <ion-navbar color="twitter">
    <ion-title class="center">
        BobBeer
        <ion-icon ios="ios-beer" md="md-beer"></ion-icon>
    </ion-title>

    <ion-searchbar 
        [(ngModel)]="searchTerm" 
        [formControl]="searchTermControl"
        [showCancelButton]=true         
        placeholder="busca..." >
    </ion-searchbar>

    <ion-buttons end>
        <button ion-button icon-only (click)="showFilters()">
            <ion-icon name="funnel" [style.color]="hasFilter() ? 'red' : 'inherit'" class="icon-filter"></ion-icon>
        </button>

        <button ion-button icon-only (click)="showConfig()">
            <ion-icon name="ios-notifications" class="icon-filter"></ion-icon>
        </button>        
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="isEmpty()" class="card-background-page">  
        <img src="assets/images/sharing.png"/>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> 

    <ion-list>
        <produto-item *ngFor="let produto of produtos" [produto]="produto"></produto-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingText="Carregando mais dados ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> 

    <ion-fab right bottom>
        <button ion-fab (click)="newProduto()">
            <ion-icon name="add" mini></ion-icon>
        </button>        
    </ion-fab>
</ion-content>
