<ion-header>

  <ion-navbar *ngIf="!isSearch()" color="geladas">
    <ion-title>
        Geladas
    </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="clickSearch()">
            <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only (click)="showFilters()">
            <ion-icon name="funnel" [style.color]="hasFilter() ? 'red' : 'inherit'"></ion-icon>
        </button>

        <button ion-button icon-only (click)="showConfig()">
            <ion-icon name="ios-notifications"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="isSearch()" color="geladas">
    <ion-searchbar 
        #searchbar
        [(ngModel)]="searchTerm" 
        [formControl]="searchTermControl"
        [showCancelButton]=true
        (ionCancel)="onCancel($event)"         
        (ionClear)="onCancel($event)"
        placeholder="busca..."
        (ionInput)="filterItems()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <div *ngIf="isEmpty()" class="logo">
      <ion-grid>
        <ion-row>
          <ion-col col-md-4>
          </ion-col>
          <ion-col col-md-4>
              <ion-img src="assets/images/logo-BEA.png"></ion-img>
              <p align="center">
                 As melhores cervejas
                 próximas a você!
              </p>
          </ion-col>
          <ion-col col-md-4>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> 

    <ion-list>
        <produto-item *ngFor="let produto of produtos" [produto]="produto"></produto-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingText="Carregando mais dados ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> 

    <ion-fab right bottom>
        <button ion-fab (click)="newProduto()">
            <ion-icon name="add" mini></ion-icon>
        </button>        
    </ion-fab>
</ion-content>
