<ion-header>
  <ion-navbar>
    <ion-title>Publicar Preço</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form #cervejaForm="ngForm" (ngSubmit)="postar()">

        <ion-list>
            <div class="center">                
                <img  width="200" height="200" [src]="produto.icon">
            </div>
            
            <ion-item>            
                <ion-label>Marca</ion-label>            
                    <ion-select [ngModel]="produto.marca.cdmarca" (ngModelChange)="onChangeMarca($event)" name="cdmarca">
                        <ion-option [value]="marca.cdmarca" *ngFor="let marca of sharingService.marcas | async">
                            {{ marca.descricao }}
                        </ion-option>
                    </ion-select>
            </ion-item>
            
            <ion-item>            
                <ion-label>Tipo</ion-label>                        
                <ion-select [ngModel]="produto.tipo.cdtipo" (ngModelChange)="onChangeTipo($event)" name="cdtipo">                                
                    <ion-option [value]="tipo.cdtipo" *ngFor="let tipo of sharingService.tipos | async">
                        {{ tipo.descricao }}
                    </ion-option>
                </ion-select>            
            </ion-item>

            <ion-item>            
                <ion-label>Medida</ion-label>
                <ion-select [ngModel]="produto.medida.cdmedida" (ngModelChange)="onChangeMedida($event)" name="cdmedida">                                
                    <ion-option [value]="medida.cdmedida" *ngFor="let medida of sharingService.medidas | async" >
                        {{ medida.descricao + ' ' + medida.ml + ' ml' }}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>            
                <ion-label>Preço R$</ion-label>
                <ion-input [ngModel]="produto.preco" 
                    type="tel" 
                    name="xxx"
                    (keyup)="onChangePreco($event)"
                    ></ion-input>
            </ion-item>           

            <ion-list-header>
                <h2>Estabelicimento</h2>
            </ion-list-header>

            <ion-item (click)="changeLoja()">
                <ion-icon name="basket" item-left large></ion-icon>
                <h2>{{produto.loja.nome}}</h2>
                <p>{{produto.loja.vicinity}}</p>
            </ion-item>
        </ion-list>

        <p align="right">
            <button type="submit" ion-button [disabled]="!cervejaForm.form.valid">                
                Publicar
            </button>
        </p>
    </form>
</ion-content>

<!-- 
    value="{{produto.preco | currency:'BRL'}}"
-->
