<table>
  <tr>
    <td style="width: 80%">
      <div>
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Latitude: </label> {{lat}} &nbsp; <label>Longitude: </label> {{lng}} &nbsp;
              <label>Raio: </label> {{radius/1000}} &nbsp;
              <label>Quantide de usuários: </label> {{qtdeUsuario}} &nbsp;
            </div>
          </div>
          <br />

          <div class="panel panel-default">
            <div class="panel-body">
              <label for="ckusuario">Mostrar Usuários ({{usuarios.length}}): </label>
              <input type="checkbox" name="ckusuario" [(ngModel)]="flUsuario" /> <br />

              <label for="cklocal">Mostrar Estabelecimentos ({{lojas.length}}): </label>
              <input type="checkbox" name="cklocal" [(ngModel)]="flLocal" /> <br />

              <label for="ckproduto">Mostrar Produtos ({{produtos.length}}): </label>
              <input type="checkbox" name="ckproduto" [(ngModel)]="flProduto" /> <br />

              <label for="ckmunicipio">Municípios: </label>
              <input type="checkbox" name="ckmunicipio" [(ngModel)]="flMunicipios" /> <br />

              <label for="filtro">Nome do Estabelecimento: </label>
              <input [(ngModel)]="filtro" type="text" name="filtro" class="form-control"> 
              
              <button type="button" class="btn btn-secondary"  (click)="btBuscaLojas()">
                Buscar
              </button>
              <br />
            </div>
          </div>

      </div>

      <sebm-google-map 
            [latitude]="-27.6210716"
            [longitude]="-48.6739947"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">


            <sebm-google-map-marker 
                *ngFor="let usuario of usuarios"
                [latitude]="usuario.lat"
                [longitude]="usuario.lng">                
              <sebm-google-map-info-window>
                <strong>{{usuario.label}}</strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>

            <sebm-google-map-marker 
                *ngFor="let loja of lojas"
                [latitude]="loja.lat"
                [longitude]="loja.lng"
                [iconUrl]="iconLoja"
                (markerClick)="onClickLoja(loja)">
                
              <sebm-google-map-info-window>
                <strong>{{loja.label}}</strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>

            <sebm-google-map-marker 
                *ngFor="let produto of produtos"
                [latitude]="produto.lat"
                [longitude]="produto.lng"
                [iconUrl]="iconProduto">
                
              <sebm-google-map-info-window>
                <strong>
                  Marca: {{produto.marca }} - {{produto.ml}} ml <br />
                  Preco: {{produto.preco}} <br />
                  Usuario: {{produto.nomeusuario}} <br />
                  Loja: {{produto.loja}} <br />
                  Data: {{produto.dtpublicacao}} <br />
                </strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>      

            <sebm-google-map-marker 
                *ngFor="let m of municipios"
                [latitude]="m.lat"
                [longitude]="m.lng">
              <sebm-google-map-info-window>
                <strong>
                  Municipio: {{ m.municipio }} <br />
                </strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>   

            <sebm-google-map-circle [latitude]="lat" [longitude]="lng" 
                [radius]="radius"
                (radiusChange)="onChangedRadius($event)"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true"
                (dragEnd)="eventoDragEnd($event);">
            </sebm-google-map-circle>
          </sebm-google-map>
    </td>

    <td>
      <div class="container">
          <form (ngSubmit)="postar()">
            <alert *ngIf="msg" type="success">{{msg}}</alert>
            <alert *ngIf="error" type="danger">{{error}}</alert>
            <h1>Publicar Preço</h1>
            <div class="form-group">
              <label for="name">Marca</label>
              <select [(ngModel)]="produto.cdmarca" name="cdmarca" class="form-control">
                  <option [value]="marca.cdmarca" *ngFor="let marca of gService.marcas | async">
                      {{ marca.descricao }}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Tipo</label>
              <select [(ngModel)]="produto.cdtipo" name="cdtipo" class="form-control">
                  <option [value]="tipo.cdtipo" *ngFor="let tipo of gService.tipos | async">
                      {{ tipo.descricao }}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Medida</label>
              <select [(ngModel)]="produto.cdmedida" name="cdmedida" class="form-control">
                  <option [value]="medida.cdmedida" *ngFor="let medida of gService.medidas | async">
                      {{ + medida.ml + ' ml (' +medida.descricao + ')'}}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Estabelecimento</label>
              <span class="form-control">{{ loja.label }}</span>
            </div>
            <div>
              <label for="name">Preço R$</label>
              <input [(ngModel)]="produto.preco" type="text" name="preco" class="form-control">
            </div>
            
            <br />

            <div class="right">                        
              <button type="submit" class="btn btn-primary" >
                Publicar
              </button>
            </div>            
          </form>
      </div>
    </td>
  </tr>
</table>