<table>
  <tr>
    <td style="width: 80%">
      <h1>latitude: {{lat}} longitude: {{lng}} raio: {{radius/1000}} quantide de usuarios: {{qtdeUsuario}}</h1>

      <sebm-google-map 
            [latitude]="-27.6210716"
            [longitude]="-48.6739947"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">


            <sebm-google-map-marker 
                *ngFor="let usuario of usuarios"
                [latitude]="usuario.lat"
                [longitude]="usuario.lng">                
              <sebm-google-map-info-window>
                <strong>{{usuario.label}}</strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>

            <sebm-google-map-marker
                [latitude]="operador.lat"
                [longitude]="operador.lng"          
                [label]="operador.label"
                [markerDraggable]="true"
                (dragEnd)="operadorDragEnd($event)"
                >
            </sebm-google-map-marker>
      
            <sebm-google-map-marker 
                *ngFor="let loja of lojas"
                [latitude]="loja.lat"
                [longitude]="loja.lng"
                [iconUrl]="iconLoja">
                
              <sebm-google-map-info-window>
                <strong>{{loja.label}}</strong>
              </sebm-google-map-info-window>              
            </sebm-google-map-marker>      

            <sebm-google-map-circle [latitude]="lat" [longitude]="lng" 
                [radius]="radius"
                (radiusChange)="onChangedRadius($event)"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true"
                (dragEnd)="eventoDragEnd($event);">
            </sebm-google-map-circle>
          </sebm-google-map>
    </td>

    <td>
      <div class="container">          
          <form (ngSubmit)="postar()">
            <h1>Publicar Preço</h1>
            <div class="form-group">
              <label for="name">Marca</label>
              <select [(ngModel)]="produto.cdmarca" name="cdmarca" class="form-control">
                  <option [value]="marca.cdmarca" *ngFor="let marca of gService.marcas | async">
                      {{ marca.descricao }}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Tipo</label>
              <select [(ngModel)]="produto.cdtipo" name="cdtipo" class="form-control">
                  <option [value]="tipo.cdtipo" *ngFor="let tipo of gService.tipos | async">
                      {{ tipo.descricao }}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Medida</label>
              <select [(ngModel)]="produto.cdmedida" name="cdmedida" class="form-control">
                  <option [value]="medida.cdmedida" *ngFor="let medida of gService.medidas | async">
                      {{ medida.descricao + ' ' + medida.ml + ' ml' }}
                  </option>
              </select>              
            </div>
            <div class="form-group">
              <label for="name">Estabelecimento</label>
              <select [(ngModel)]="produto.cdloja" name="cdloja" class="form-control">
                  <option [value]="loja.cdloja" *ngFor="let loja of lojas">
                      {{ loja.label }}
                  </option>
              </select>
            </div>
            <div>
              <label for="name">Preço R$</label>
              <input [(ngModel)]="produto.preco" type="text" name="preco" class="form-control">
            </div>
            
            <br />

            <div class="right">                        
              <button type="submit" class="btn btn-primary" >
                Publicar
              </button>
            </div>
            <alert *ngIf="msg" type="success" dismissible="true">Produto cadastrado com sucesso</alert>
          </form>
      </div>
    </td>
  </tr>
</table>