<ion-header>
  <ion-navbar>
    <ion-title>{{produto.marca.descricao + ' ' + produto.medida.descricao + ' ' + produto.medida.ml+' ml'}}</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>        
        <img [src]="produto.icon">        
        <ion-fab right top>            
            <button ion-fab mini><ion-icon name="md-share"></ion-icon></button>
            <ion-fab-list>
                <button ion-fab><ion-icon name="logo-whatsapp"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>

        <ion-item>
            <ion-icon name="beer" item-left large></ion-icon>
            <h2>{{produto.marca.descricao + ' ' + produto.medida.descricao + ' ' + produto.medida.ml +' ml'}}</h2>
            <p>Se beber não dirija!</p>
            <span class="precoClass" item-right>
                R$ {{produto.preco | moedaReal }}
            </span>
        </ion-item>


        <ion-item>
            <ion-icon name="basket" item-left large></ion-icon>
            <h2>{{produto.loja.nome}}</h2>
            <p>{{produto.loja.vicinity}}</p>
            <button ion-button icon-left clear item-right>
                <ion-icon name="navigate"></ion-icon>
                Partiu
            </button>
        </ion-item>

        <ion-item>        
            <ion-avatar item-left large>
                <img [src]="produto.usuario.avatar">
            </ion-avatar>
            <h2>{{produto.usuario.nome}}</h2>
            <p>publicado em: {{produto.dtpublicacao | date: 'dd/MM/yyyy' }}
        </ion-item>

        <ion-item>
            <p item-left>
               O preço está correto?
            </p>
            <div *ngIf="!flValidou" item-right>
                <button ion-button icon-left clear (click)="validarPreco(1)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <span>{{qtdeok}}</span>
                </button>
                <button ion-button icon-left clear (click)="validarPreco(0)">
                    <ion-icon name="thumbs-down"></ion-icon>
                    <span>{{qtdenok}}</span>
                </button>
            </div>
            <div *ngIf="flValidou" item-right>
                <ion-icon name="thumbs-up"></ion-icon>
                <span>{{qtdeok}}</span>
                
                <ion-icon name="thumbs-down"></ion-icon>
                <span>{{qtdenok}}</span>                
            </div>
        </ion-item>
    </ion-card>
</ion-content>    